requestreply/src/main/mule/requestreply.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:solace="http://www.mulesoft.org/schema/mule/solace" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/solace http://www.mulesoft.org/schema/mule/solace/current/mule-solace.xsd">
	<solace:config name="Solace_Connector_Config" doc:name="Solace-Connector Config" doc:id="b9adfecc-33f3-4155-97d1-7ac8c7338a67" >
		<solace:connection brokerHost="localhost" msgVPN="default" clientUserName="mulesoft-client" password="default" />
	</solace:config>
	<solace:config name="Solace_Connector_Config_listener" doc:name="Solace-Connector Config" doc:id="699c56d5-e435-4329-8200-35db8788c759" >
		<solace:connection brokerHost="localhost" msgVPN="default" clientUserName="mulesoft-client" password="test" />
	</solace:config>
	<flow name="responderFlow" doc:id="df2f328a-930a-48f0-8c77-d92b8172a032">
		<solace:listener-source doc:name="OnDirectMessage" doc:id="add48093-9bf7-46fb-8e58-b4cc8cd34e16" config-ref="Solace_Connector_Config_listener">
			<solace:subscriptions >
				<solace:subscription value="t/example/request" />
			</solace:subscriptions>
		</solace:listener-source>
		<logger level="INFO" doc:name="Logger" doc:id="8bb1bedb-8be3-4114-8d20-09a67e9451cd" message="#[%dw 2.0
output application/java
---
payload]" category="RESPONDER - "/>
		<solace:publish doc:name="Publish direct" doc:id="f604d586-d8a5-4fba-87dc-b68f1c3fb337" config-ref="Solace_Connector_Config" address="#[%dw 2.0
output application/java
---
attributes.replyTo]">
			<solace:message correlationId="#[%dw 2.0
output application/java
---
attributes.correlationId]" markReply="true">
				<solace:body ><![CDATA[This is the response]]></solace:body>
			</solace:message>
		</solace:publish>
	</flow>
	<flow name="requestFlow" doc:id="09a58695-55ac-454f-9fd6-1c009f98188e" >
		<scheduler doc:name="Scheduler" doc:id="9c6405c1-47d4-4d2f-862e-89faf6c1a43a" >
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="SECONDS" startDelay="3"/>
			</scheduling-strategy>
		</scheduler>
		<solace:request-reply doc:name="Request reply direct" doc:id="b0bf9d7f-9f26-42dd-95aa-2dffc6aeb8ea" config-ref="Solace_Connector_Config" address="t/example/request" timeOut="15" timeUnit="SECONDS">
			<solace:message >
				<solace:body ><![CDATA[Hello responder]]></solace:body>
			</solace:message>
		</solace:request-reply>
		<logger level="INFO" doc:name="Logger" doc:id="15c0c942-c60d-4cba-8745-17f0923f1e92" category="REQUESTOR - " message="#[%dw 2.0
output application/java
---
payload]"/>
		<error-handler>
			<on-error-continue enableNotifications="false" logException="false" doc:name="On Error Continue" doc:id="4cbd0ef5-9b9b-4448-b4e6-7f8ff1e02b8a" type="SOLACE:REQUEST_TIME_OUT">
				<logger level="INFO" doc:name="Logger" doc:id="58827ffb-d5f9-479c-8cc3-13a4f2ef3516" message="Oh no"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
