jsonmessage/src/main/mule/jsonmessage.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:solace="http://www.mulesoft.org/schema/mule/solace" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/solace http://www.mulesoft.org/schema/mule/solace/current/mule-solace.xsd">
	<solace:config name="Solace_Connector_Config" doc:name="Solace-Connector Config" doc:id="8e303b23-d287-4ab0-9e85-2d26553b0b36" >
		<solace:connection brokerHost="localhost" msgVPN="default" clientUserName="mulesoft-client" password="default" />
	</solace:config>
	<flow name="jsonSendFlow" doc:id="3f82d938-304e-47c7-9a78-6276f33b022e" >
		<scheduler doc:name="Scheduler" doc:id="277328f5-8f44-4f55-b512-882bcf36bfe0" >
			<scheduling-strategy >
				<fixed-frequency frequency="5000"/>
			</scheduling-strategy>
		</scheduler>
		<set-payload value='{"greeting": "hello","name": "solace"}' doc:name="Set Payload" doc:id="0a3024ad-be35-46b6-b8f2-e2260f7af332" mimeType="application/json"/>
		<solace:publish doc:name="Publish direct" doc:id="8a790055-62e1-4e45-8345-5500dad7d533" config-ref="Solace_Connector_Config" address="t/json/greeting"/>
	</flow>
	<flow name="jsonListenerFlow" doc:id="d23a26fe-a7e4-4585-99f3-8bed5cee4762" >
		<solace:listener-source doc:name="OnDirectMessage" doc:id="54f6dea0-05d8-4865-ab9d-f705e5fb66d3" config-ref="Solace_Connector_Config" contentType="application/json">
			<solace:subscriptions >
				<solace:subscription value="t/json/greeting" />
			</solace:subscriptions>
		</solace:listener-source>
		<logger level="INFO" doc:name="Logger" doc:id="f152cc04-c7ec-4ea0-ba7b-249ac59327a3" message="#[%dw 2.0
output application/java
---
payload.name]" category="greeting to"/>
	</flow>
</mule>
